
h1 {
    text-align: center;
}

.buttons {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.button-container {
    text-align: center;
}